.mainContainer{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 30px;
  border-radius: 10px;
}

.details{
  margin-bottom: 20px;
}

.form-label{
  margin-bottom: 10px;
}

.add-container{
  margin-left: 10px;
}

.details{
  margin-right: 20px;
  width: 325px;
}

.tuldok{
  display: inline-block;
  color: red;
  vertical-align: top;
}

.tuldok-white{
  display: inline-block;
  color: white;
  vertical-align: top;
}

#status{
  width: 370px;
}

.residential{
  color: grey;
  margin-bottom: 20px;
}

#province{
  width: 600px;
}

#city{
  width: 397px;
}

.sameasresidential{
  margin-left: 10px;
  margin-bottom: 20px;
}

#sex{
  width: 120px;
  height: 35px;
  border-radius: 5px;
}

#status{
  height: 35px;
  border-radius: 5px;
}

#suffix{
  width: 115px;
  height: 35px;
  border-radius: 5px;
}
.address{
  color: grey;
  margin-top: 20px;
  margin-bottom: 20px;
}

#province{
  width: 600px;
}

#city{
  width: 397px;
}

.sameasresidential{
  margin-left: 10px;
  margin-bottom: 20px;
}

#sex{
  width: 120px;
  height: 35px;
  border-radius: 5px;
}

#status{
  height: 35px;
  border-radius: 5px;
}

#suffix{
  width: 115px;
  height: 35px;
  border-radius: 5px;
}

