
.mainContainer{
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
}

.tuldok{
  display: inline-block;
  color: red;
  vertical-align: top;
}

.tuldok-white{
  display: inline-block;
  color: white;
  vertical-align: top;
}

.sameasresidential{
  margin-left: 10px;
  margin-bottom: 20px;
}


